<div class="dfinput input-box-text-edit-report input-box-text-yl" style="cursor:pointer;<%=css%>" id="select_content">
	<%if(defaultValue){%>
		<%for(var i=0;i<options.length;i++){%>
			<%if(defaultValue ==options[i].value ){%>
				<p class=" operation-p selected"  value="<%=options[i].value%>" ><%=options[i].name%></p>
			<%break;}if(i == options.length - 1){%>
				<p class="operation-p selected"  value="<%=options[0].value%>"><%=options[0].name%></p>
		<%}}%>
	<%}else{%>
		<p class="operation-p selected"  value="<%=options[0].value%>"><%=options[0].name%></p>
	<%}%>
	<a href="javascript:void(0)" class="operation-a" ></a>
</div>
	<div class="clear"></div>
	<div class="float-pup float-pup-1  hide" id="select_options" style="border:1px #8ab827 solid;">
	<%for(var i=0;i<options.length;i++){%>
			<div class=" option"  value="<%=options[i].value%>" style="cursor:pointer;font-size:12px;"><%=options[i].name%></div>
		<%}%>
	</div>
<p class="add-defect-p work-time-p"><%=label%></p>